// Modal
#createNewUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='CreateNewUser', aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-header
				h5.modal-title Добавление пользователя
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') 
						i.far.fa-times-circle
			.modal-body
				form#createNewUser--Form(action="/adduser" method="POST")
					.row.form-group.dark-field.d-flex.align-items-center
						.col-3
							label.my-0(for="Office") Номер офиса
						.col-9
							input.form-control#Office(type="text" name="Office")

					.row.form-group.dark-field.d-flex.align-items-center
						.col-3
							label.my-0(for="LastName") Фамилия
						.col-9
							input.form-control.col-12#LastName(type="text" name="LastName")

					.row.form-group.dark-field.d-flex.align-items-center
						.col-3
							label.my-0(for="FirstName") Имя
						.col-9
							input.form-control#FirstName(type="text" name="FirstName")

					.row.form-group.dark-field.d-flex.align-items-center
						.col-3
							label.my-0(for="MiddleName") Отчество
						.col-9
							input.form-control#MiddleName(type="text" name="MiddleName")

					.row.form-group.dark-field.d-flex.align-items-center
						.col-3
							label.my-0(for="insertEmail") Email
						.col-9
							input.form-control#insertEmail(type="email" name="Email")
				
			.modal-footer
				button.btn.btn-dark(type='button', data-dismiss='modal') Закрыть
				button.btn.btn-success(type='submit' form="addUserForm") 
					i.fas.fa-user-plus.mr-2
					| Добавить