datalist#CarList
	option(value="Acura")
	option(value="Alfa Romeo")
	option(value="Aston Martin")
	option(value="Audi")
	option(value="Aurus")
	option(value="Bentley")
	option(value="BMW")
	option(value="Brilliance")
	option(value="Bugatti")
	option(value="Buick")
	option(value="BYD")
	option(value="Cadillac")
	option(value="Changan")
	option(value="Chery")
	option(value="Chevrolet")
	option(value="Chrysler")
	option(value="Citroen")
	option(value="Daewoo")
	option(value="Daihatsu")
	option(value="Datsun")
	option(value="Dodge")
	option(value="DongFeng")
	option(value="DS")
	option(value="FAW")
	option(value="Ferrari")
	option(value="Fiat")
	option(value="Ford")
	option(value="Foton")
	option(value="GAC")
	option(value="Geely")
	option(value="Genesis")
	option(value="GMC")
	option(value="Great Wall")
	option(value="Haima")
	option(value="Haval")
	option(value="Honda")
	option(value="Hummer")
	option(value="Hyundai")
	option(value="Infiniti")
	option(value="Isuzu")
	option(value="JAC")
	option(value="Jaguar")
	option(value="Jeep")
	option(value="Kia")
	option(value="Lada (ВАЗ)")
	option(value="Lamborghini")
	option(value="Lancia")
	option(value="Land Rover")
	option(value="Lexus")
	option(value="Lifan")
	option(value="Lincoln")
	option(value="Luxgen")
	option(value="Maserati")
	option(value="Maybach")
	option(value="Mazda")
	option(value="Mercedes-Benz")
	option(value="Mercury")
	option(value="Mini")
	option(value="Mitsubishi")
	option(value="Nissan")
	option(value="Oldsmobile")
	option(value="Opel")
	option(value="Peugeot")
	option(value="Pontiac")
	option(value="Porsche")
	option(value="Ravon")
	option(value="Renault")
	option(value="Rolls-Royse")
	option(value="Rover")
	option(value="Saab")
	option(value="SEAT")
	option(value="Skoda")
	option(value="Smart")
	option(value="SsangYong")
	option(value="Subaru")
	option(value="Suzuki")
	option(value="Tesla")
	option(value="Toyota")
	option(value="Volkswagen")
	option(value="Volvo")
	option(value="ZAZ")
	option(value="Zotye")
	option(value="ГАЗ")
	option(value="Москвич")
	option(value="ТагАЗ")
	option(value="УАЗ")