include header

section.bg.create-success
	.container.animated.fadeIn.faster
		.row 
			.col-12 
				.d-flex.flex-column
					h1.mt-5.text-center Успешно!
					h2.mt-1.text-center На 
						| #{email}
						| придёт сообщение с паролем для входа!
					a.text-center.mt-5(href="/") Вернуться на главную

include scripts