.dashboard
	nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
		a.navbar-brand(href="/dashboard")
			img.w-100(src="images/logo2.png", alt="logo")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon

		#navbarNavAltMarkup.collapse.navbar-collapse.ml-3
			.navbar-nav
				span.nav-item.mr-5(href='#') Здравствуйте, #{user.name}
					br
					a.badge.badge-pill.badge-danger#logout(href="/logout") Выйти
				if (user.role === 'admin')
					button.btn.btn-outline-success#addUser.nav-item.mr-4(type="button" data-toggle="modal" data-target="#createNewUser") 
						i.far.fa-user.mr-2
						| Добавить пользователя
		
	section.container-fluid.animated.fadeIn.faster
		.row
			.col-12
				aside.navigate.mt-5
					include menu
			
	include modals

//-
						ul
							if (user.role === 'admin')
								li
									a(href="#")
										.d-flex.align-items-center.justify-content-between
											span Клиенты и компании
							li
								a(href="#")
									.d-flex.align-items-center.justify-content-between
										span Заявки на звонок
										span.badge.badge-light 0
							li
								a(href="#")
									.d-flex.align-items-center.justify-content-between
										span Пропуск ВНОС/ВЫНОС
										span.badge.badge-light 0
							li
								a(href="#")
									.d-flex.align-items-center.justify-content-between
										span ПОРЧА/УТРАЧА карт
										span.badge.badge-light 0
							li
								a(href="#")
									.d-flex.align-items-center.justify-content-between
										span Постоянный доступ
										span.badge.badge-light 0
							li
								a(href="#")
									.d-flex.align-items-center.justify-content-between
										span Заказ документов
										span.badge.badge-light 0
							li
								a(href="#")
									.d-flex.align-items-center.justify-content-between
										span Пропуски на авто
										span.badge.badge-light 0
							li
								a(href="#")
									.d-flex.align-items-center.justify-content-between
										span Пропуски на персону
										span.badge.badge-light 0
							li
								a(href="#")
									.d-flex.align-items-center.justify-content-between
										span Заявки на работы
										span.badge.badge-light 0



					.col-lg-9.col-xl-10
				//- Здесь сделаем вкладки без всякого JS (на радиокнопках и CSS, http://usefulscript.ru/tabs_css.php)
				.navigate--tabs
					if (user.role === 'admin')
						//-
							.mt-5.mr-5
								button.btn.btn-primary
									i.fas.fa-plus.mr-2
									| Добавить заявку

						h1.mb-4#heading Клиенты и компании
						.d-flex.justify-content-between
							.mt-5
								.dark-field.form-group
									.input-group.mb-3
										.input-group-prepend
											span.input-group-text#search
												i.fas.fa-search
										input#search.form-control(type="text" aria-describedby="search")

						table.table.table-dark.table-striped
							thead
								tr
									th(scope="col") Номер офиса
									th(scope="col") Фамилия
									th(scope="col") Имя
									th(scope="col") Отчество
									th(scope="col") Email
							tbody#contentTBody
					
					h1.mb-4.mt-5#heading Заявки на звонок
					table.table.table-dark.table-striped
						thead
							tr
								th(scope="col") Номер офиса
								th(scope="col") Дата
								th(scope="col") Время
								th(scope="col") Статус
						tbody#contentTBody