.dashboard
	.d-flex.justify-content-start.align-items-center
		a.navbar-brand.mt-3.ml-4(href="/dashboard")
			img.w-100(src="images/logo2.png", alt="logo")

		.ml-3
			span.mr-4(href='#') 
				if (user.role === 'admin')
					| Здравствуйте, #{user.name}!
				else 
					| Здравствуйте, #{user.name}! Ваш офис: #{user.office}
			br
			a.badge.badge-pill.badge-danger#logout(href="/logout") Выйти
		if (user.role === 'admin')
			button.btn.btn-outline-success.btn-sm#addUser.ml-5(type="button" data-toggle="modal" data-target="#createNewUser") 
				i.far.fa-user.mr-2
				| Добавить пользователя

	section.container-fluid.animated.fadeIn.faster
		.mt-5
			include menu-boot

	include modals