include header

section.log-in.bg
	.animated.fadeIn.faster
		img(src="images/logo2.png", alt="logo")
		form.auth-form(action="/signin" method="POST")
			span.text-center Введите ваш email и пароль
			.input-group.mt-4
				.input-group-prepend
					span.input-group-text#email-icon 
						i.fas.fa-at
				input#login.form-control(type="email" name="email" placeholder="example@mail.ru" aria-describedby="email-icon")

			.input-group.mt-3
				.input-group-prepend
					span.input-group-text#pass-icon
						i.fas.fa-key
				input#pass.form-control(type="password" name="pass" placeholder="Пароль")
			.d-flex.justify-content-between
				a#btn_reg.btn.btn-dark.mt-3.mr-5(href="/reg") Регистрация
				button#btn_log.btn.btn-success.mt-3(type="submit") Войти
		.d-flex.justify-content-center
			a.text-center.mt-5(href="http://westeast.biz") Вернуться назад

include scripts