if (user.role === 'admin')
	#createNewUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='CreateNewUser', aria-hidden='true')
		.modal-dialog.modal-dialog-centered.modal-lg(role='document')
			.modal-content
				.modal-header
					h5.modal-title Добавление пользователя
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') 
							i.far.fa-times-circle
				.modal-body
					form#createNewUser--Form
						.row.form-group.dark-field.d-flex.align-items-center
							.col-4
								label.my-0.mb-2(for="LastName") Фамилия:
								input.form-control.col-12#LastName(type="text" name="LastName" required)
							.col-4
								label.my-0.mb-2(for="FirstName") Имя:
								input.form-control#FirstName(type="text" name="FirstName" required)
							.col-4
								label.my-0.mb-2(for="MiddleName") Отчество:
								input.form-control#MiddleName(type="text" name="MiddleName" required)
							
						.row.form-group.dark-field.d-flex.align-items-center
							.col-5
								label.my-0.mb-2(for="Email") Email:
								input.form-control#Email(type="email" name="Email" required)
							.col-5
								label.my-0.mb-2(for="Phone") Телефон:
								input.form-control#Phone(type="tel" name="Phone" required)
							.col-2
								label.my-0.mb-2(for="Office") № офиса:
								input.form-control#Office(type="text" name="Office" required)
						.row
							hr.separator
						
						.row.form-group.dark-field.d-flex.align-items-center
							.col-7
								label.my-0.mb-2(for="FullCompanyName") Полное название компании:
								input.form-control#FullCompanyName(type="text" name="FullCompanyName" required)
							.col-5
								label.my-0.mb-2(for="ShortCompanyName") Краткое название компании:
								input.form-control#ShortCompanyName(type="text" name="ShortCompanyName" required)

						.row.form-group.dark-field.d-flex.align-items-center
							.col-12
								label.my-0.mb-2(for="Address") Юридический адрес:
								input.form-control#Address(type="text" name="Address" required)
						//-
							.row.form-group.dark-field.d-flex.align-items-center
								.col-4
									label.my-0.mb-2(for="INN") ИНН:
									input.form-control#INN(type="text" name="INN" required)
								.col-4
									label.my-0.mb-2(for="KPP") КПП:
									input.form-control#KPP(type="text" name="KPP" required)
								.col-4
									label.my-0.mb-2(for="OGRN") ОГРН:
									input.form-control#OGRN(type="text" name="OGRN" required)

							.row.form-group.dark-field.d-flex.align-items-center
								.col-7
									label.my-0.mb-2(for="Bank") Банк:
									input.form-control#Bank(type="text" name="Bank" required)
								.col-5
									label.my-0.mb-2(for="BIK") БИК:
									input.form-control#BIK(type="text" name="BIK" required)

							.row.form-group.dark-field.d-flex.align-items-center
								.col-6
									label.my-0.mb-2(for="CorporateAcc") Корпоративный счёт:
									input.form-control#CorporateAcc(type="text" name="CorporateAcc" required)
								.col-6
									label.my-0.mb-2(for="PaymentAcc") Расчётный счёт:
									input.form-control#PaymentAcc(type="text" name="PaymentAcc" required)
						
				.modal-footer
					button.btn.btn-dark(type='button', data-dismiss='modal') Закрыть
					button.btn.btn-success(type='button' form="createNewUser--Form") 
						i.fas.fa-user-plus.mr-2
						| Добавить

.modal.fade#create-call-decl--modal(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#create-call-decl--title Добавление заявки на звонок
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') 
						i.far.fa-times-circle
			.modal-body
				form#create-call-decl--Form(action="#" method="POST")
					if (user.role === 'admin')
						.row.form-group.dark-field.d-flex.align-items-center
							.col-4
								label(for="create-call-decl--Office") Номер офиса:
								input.form-control#create-call-decl--Office(type="text" name="Office" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-6
							label(for="create-call-decl--Date") Дата:
							input.form-control#create-call-decl--Date(type="date" name="Date" required)
						.col-6
							label(for="create-call-decl--Timestamp") Время:
							input.form-control#create-call-decl--Timestamp(type="time" name="Timestamp" required)
			.modal-footer
				button.btn.btn-dark(type="button", data-dismiss="modal") Закрыть
				button.btn.btn-success(type='button' form="create-call-decl--Form" data-storage="Calls") 
					i.fas.fa-plus.mr-2
					| Добавить заявку

.modal.fade#create-pass-decl--modal(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#create-pass-decl--title Добавление заявки
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') 
						i.far.fa-times-circle
			.modal-body
				form#create-pass-decl--Form(action="#" method="POST")
					if (user.role === 'admin')
						.row.form-group.dark-field.d-flex.align-items-center
							.col-4
								label(for="create-pass-decl--Office") Номер офиса:
								input.form-control#create-pass-decl--Office(type="text" name="Office" required)
							.col-8
								label(for="create-pass-decl--Date") Дата:
								input.form-control#create-pass-decl--Date(type="date" name="Date" required)
						.row.form-group.dark-field.d-flex.align-items-center
							.col-6 
								label(for="create-pass-decl--Start-Time") Время начала:
								input.form-control#create-pass-decl--Start-Time(type="time" name="Starttime" required)
							.col-6
								label(for="create-pass-decl--End-Time") Время конца:
								input.form-control#create-pass-decl--End-Time(type="time" name="Endtime" required)
					else 
						.row.form-group.dark-field.d-flex.align-items-center
							.col-6
								label(for="create-pass-decl--Date") Дата:
								input.form-control#create-pass-decl--Date(type="date" name="Date" required)
						.row.form-group.dark-field.d-flex.align-items-center
							.col-6
								label(for="create-pass-decl--Start-Time") Время начала:
								input.form-control#create-pass-decl--Start-Time(type="time" name="Starttime" required)
							.col-6
								label(for="create-pass-decl--End-Time") Время конца:
								input.form-control#create-pass-decl--End-Time(type="time" name="Endtime" required)

					.row.form-group.dark-field.d-flex.align-items-center
						.col-12
							label(for="create-pass-decl--Wealth") Материальные ценности:
							textarea.form-control#create-pass-decl--Wealth(rows="4" name="Wealth" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-3
							label(for="create-pass-decl--Quantity") Кол-во:
							input.form-control#create-pass-decl--Quantity(type="number" name="Quantity" min="1" max="10000" required)
						.col-9
							label(for="create-pass-decl--Car") Авто:
							input.form-control#create-pass-decl--Car(type="text" name="Car" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-12
							label(for="create-pass-decl--TenantRepres") Представитель арендатора:
							input.form-control#create-pass-decl--TenantRepres(type="text" name="TenantRepres" required)
			.modal-footer
				button.btn.btn-dark(type="button", data-dismiss="modal") Закрыть
				button.btn.btn-success(type='button' form="create-pass-decl--Form" data-storage="Passports") 
					i.fas.fa-plus.mr-2
					| Добавить заявку

.modal.fade#create-losscard-decl--modal(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#create-losscard-decl--title Добавление заявки о порче/утрате карты
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') 
						i.far.fa-times-circle
			.modal-body
				form#create-losscard-decl--Form(action="#" method="POST")
					if (user.role === 'admin')
						.row.form-group.dark-field.d-flex.align-items-center
							.col-4
								label(for="create-losscard-decl--Office") Номер офиса:
								input.form-control#create-losscard-decl--Office(type="text" name="Office" required)
							.col-8
								label(for="create-losscard-decl--CardID") Номер карты:
								input.form-control#create-losscard-decl--CardID(type="text" name="CardID" required)
						.row.form-group.dark-field.d-flex.align-items-center
							.col-12
								label(for="create-losscard-decl--RegisteredIn") Зарегистрирована на имя:
								input.form-control#create-losscard-decl--RegisteredIn(type="text" name="RegisteredIn" required)
						.row.form-group.dark-field.d-flex.align-items-center
							.col-12
								label(for="create-losscard-decl--CompanyName") Название компании:
								input.form-control#create-losscard-decl--CompanyName(type="text" name="CompanyName" required)

					else 
						.row.form-group.dark-field.d-flex.align-items-center
							.col-6
								label(for="create-losscard-decl--CardID") Номер карты:
								input.form-control#create-losscard-decl--CardID(type="text" name="CardID" required)
						.row.form-group.dark-field.d-flex.align-items-center
							.col-9
								label(for="create-losscard-decl--RegisteredIn") Зарегистрирована на имя:
								input.form-control#create-losscard-decl--RegisteredIn(type="text" name="RegisteredIn" required)
					
			.modal-footer
				button.btn.btn-dark(type="button", data-dismiss="modal") Закрыть
				button.btn.btn-success(type='button' form="create-losscard-decl--Form" data-storage="LossCards") 
					i.fas.fa-plus.mr-2
					| Добавить заявку

.modal.fade#create-docsorder-decl--modal(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#create-docsorder-decl--title Добавление заявки
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') 
						i.far.fa-times-circle
			.modal-body
				form#create-docsorder-decl--Form(action="#" method="POST")
					if (user.role === 'admin')
						.row.form-group.dark-field.d-flex.align-items-center
							.col-4
								label(for="create-docsorder-decl--Office") Номер офиса:
								input.form-control#create-docsorder-decl--Office(type="text" name="Office" required)
							.col-8
								label(for="create-docsorder-decl--Date") Дата:
								input.form-control#create-docsorder-decl--Date(type="date" name="Date" required)
						.row.form-group.dark-field.d-flex.align-items-center
							.col-12
								label(for="create-docsorder-decl--Doctype") Вид документа:
								input.form-control#create-docsorder-decl--Doctype(type="text" name="Doctype" required)
					else 
						.row.form-group.dark-field.d-flex.align-items-center
							.col-6
								label(for="create-docsorder-decl--Date") Дата:
								input.form-control#create-docsorder-decl--Date(type="date" name="Date" required)
							.col-6
								label(for="create-docsorder-decl--Doctype") Вид документа:
								input.form-control#create-docsorder-decl--Doctype(type="text" name="Doctype" required)

			.modal-footer
				button.btn.btn-dark(type="button", data-dismiss="modal") Закрыть
				button.btn.btn-success(type='button' form="create-docsorder-decl--Form" data-storage="DocsOrders") 
					i.fas.fa-plus.mr-2
					| Добавить заявку

.modal.fade#create-carpass-decl--modal(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#create-carpass-decl--title Добавление заявки
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') 
						i.far.fa-times-circle
			.modal-body
				form#create-carpass-decl--Form(action="#" method="POST")
					.row.form-group.dark-field.d-flex.align-items-center
						if (user.role === 'admin')
							.col-4
								label(for="create-carpass-decl--Office") Номер офиса:
								input.form-control#create-carpass-decl--Office(type="text" name="Office" required)
						.col-8
							label(for="create-carpass-decl--Date") Дата:
							input.form-control#create-carpass-decl--Date(type="date" name="Date" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-6
							label(for="create-carpass-decl--Car-brand") Марка авто:
							input.form-control#create-carpass-decl--Car-brand(type="text" name="CarBrand" required list="CarList")
							include carList
						.col-6
							label(for="create-carpass-decl--Gov-Num") Гос. номер:
							input.form-control#create-carpass-decl--Gov-Num(type="text" name="GovermentNumber" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-12
							label(for="create-carpass-decl--Сargo") Груз
							textarea.form-control#create-carpass-decl--Cargo(name="Cargo" rows="3")
			.modal-footer
				button.btn.btn-dark(type="button", data-dismiss="modal") Закрыть
				button.btn.btn-success(type='button' form="create-carpass-decl--Form" data-storage="PassCars") 
					i.fas.fa-plus.mr-2
					| Добавить заявку
							
.modal.fade#create-personpass-decl--modal(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#create-carpass-decl--title Добавление заявки
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') 
						i.far.fa-times-circle
			.modal-body
				form#create-personpass-decl--Form(action="#" method="POST")
					.row.form-group.dark-field.d-flex.align-items-center
						.col-4
							label(for="create-personpass-decl--Office") Номер офиса:
							input.form-control#create-personpass-decl--Office(type="text" name="Office" required)
						.col-8
							label(for="create-personpass-decl--Date") Дата:
							input.form-control#create-personpass-decl--Date(type="date" name="Date" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-12 
							label(for="create-personpass-decl--Passport") Серия и номер паспорта:
							input.form-control#create-personpass-decl--Passport(type="text" name="Passport" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-12 
							label(for="create-personpass-decl--Full-name") Имя и фамилия:
							input.form-control#create-personpass-decl--Full-name(type="text" name="FullName" required)
			.modal-footer
				button.btn.btn-dark(type="button", data-dismiss="modal") Закрыть
				button.btn.btn-success(type='button' form="create-personpass-decl--Form") 
					i.fas.fa-plus.mr-2
					| Добавить заявку

.modal.fade#create-works-decl--modal(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#create-works-decl--title Добавление заявки
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') 
						i.far.fa-times-circle
			.modal-body
				form#create-works-decl--Form(action="#" method="POST")
					.row.form-group.dark-field.d-flex.align-items-center
						if (user.role === 'admin')
							.col-4
								label(for="create-works-decl--Office") Номер офиса:
								input.form-control#create-works-decl--Office(type="text" name="Office" required)
						.col-8
							label(for="create-works-decl--Date") Дата:
							input.form-control#create-works-decl--Date(type="date" name="Date" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-12 
							label(for="create-works-decl--Responsible") Ответственный:
							input.form-control#create-works-decl--Responsible(type="text" name="Responsible" required)
					.row.form-group.dark-field.d-flex.align-items-center
						.col-6
							label(for="create-works-decl--Phone") Телефон:
							input.form-control#create-works-decl--Phone(type="text" name="Phone" required)
						.col-6
							label(for="create-works-decl--Worktype") Вид работ:
							input.form-control#create-works-decl--Worktype(type="text" name="Worktype" required)
			.modal-footer
				button.btn.btn-dark(type="button", data-dismiss="modal") Закрыть
				button.btn.btn-success(type='button' form="create-works-decl--Form" data-storage="WorkersOrders") 
					i.fas.fa-plus.mr-2
					| Добавить заявку

if (user.role === 'admin')
	#updateUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby="UpdateUser", aria-hidden='true')
		.modal-dialog.modal-dialog-centered.modal-lg(role='document')
			.modal-content
				.modal-header
					h5.modal-title Редактирование пользовательских данных
					button.close#updateUser--Close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') 
							i.far.fa-times-circle
				.modal-body
					form#updateUser--Form
						.row.form-group.dark-field.d-flex.align-items-center
							.col-4
								label.my-0.mb-2(for="LastName") Фамилия
								input.form-control.col-12#LastName(type="text" name="LastName" required disabled)
							.col-4
								label.my-0.mb-2(for="FirstName") Имя
								input.form-control#FirstName(type="text" name="FirstName" required disabled)
							.col-4
								label.my-0.mb-2(for="MiddleName") Отчество
								input.form-control#MiddleName(type="text" name="MiddleName" required disabled)
							
						.row.form-group.dark-field.d-flex.align-items-center
							.col-2
								label.my-0.mb-2(for="Office") № офиса
								input.form-control#Office(type="text" name="Office" required disabled)
							.col-5
								label.my-0.mb-2(for="Email") Email
								input.form-control#Email(type="email" name="Email" required disabled)
							.col-5
								label.my-0.mb-2(for="Phone") Телефон
								input.form-control#Phone(type="tel" name="Phone" required disabled)
						.row
							hr.separator
						
						.row.form-group.dark-field.d-flex.align-items-center
							.col-7
								label.my-0.mb-2(for="FullCompanyName") Полное название компании
								input.form-control#FullCompanyName(type="text" name="FullCompanyName" required disabled)
							.col-5
								label.my-0.mb-2(for="ShortCompanyName") Краткое название компании
								input.form-control#ShortCompanyName(type="text" name="ShortCompanyName" required disabled)

						.row.form-group.dark-field.d-flex.align-items-center
							.col-12
								label.my-0.mb-2(for="Address") Юридический адрес
								input.form-control#Address(type="text" name="Address" required disabled)
						//-
							.row.form-group.dark-field.d-flex.align-items-center
								.col-4
									label.my-0.mb-2(for="INN") ИНН
									input.form-control#INN(type="text" name="INN" required disabled)
								.col-4
									label.my-0.mb-2(for="KPP") КПП
									input.form-control#KPP(type="text" name="KPP" required disabled)
								.col-4
									label.my-0.mb-2(for="OGRN") ОГРН
									input.form-control#OGRN(type="text" name="OGRN" required disabled)

							.row.form-group.dark-field.d-flex.align-items-center
								.col-7
									label.my-0.mb-2(for="Bank") Банк
									input.form-control#Bank(type="text" name="Bank" required disabled)
								.col-5
									label.my-0.mb-2(for="BIK") БИК
									input.form-control#BIK(type="text" name="BIK" required disabled)

							.row.form-group.dark-field.d-flex.align-items-center
								.col-6
									label.my-0.mb-2(for="CorporateAcc") Корпоративный счёт
									input.form-control#CorporateAcc(type="text" name="CorporateAcc" required disabled)
								.col-6
									label.my-0.mb-2(for="PaymentAcc") Расчётный счёт
									input.form-control#PaymentAcc(type="text" name="PaymentAcc" required disabled)
						
				.modal-footer
					button.btn.btn-dark#updateUser--Close(type='button', data-dismiss='modal') Закрыть
					button.btn.btn-success(type='button' form="updateUser--Form") 
						i.fas.fa-sync-alt.mr-2
						| Обновить