@import "./node_modules/bootstrap/scss/bootstrap.scss"
@import ui

.log-in 
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	a 
		color: white !important
		margin-top: 1rem

.auth-form
	display: flex
	flex-direction: column
	margin-top: 4rem
	label 
		margin: 10px 0px 5px 0px
	input 
		border: 1px solid darken($dark, 10%)
		background-color: $dark !important
		color: white
		&:active, &:focus
			background-color: $dark !important
			border-color: darken($yellow, 10%)
			box-shadow: 0 0 0 .2rem rgba($yellow, .2)
			font-weight: 400
			color: white
	.input-group-text
		background-color: $dark
		border: 1px solid darken($dark, 10%)
		i 
			color: darken(white, 20%)
			font-weight: 700

.dashboard
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url(../../images/user_panel_bg.jpg)
	height: 100vh
	color: white
	.navbar-brand
		max-width: 96px
	a.nav-item 
		color: darken(white, 20%)
		&:hover 
			text-decoration: none
			color: white
	.controls 
		margin-top: 16px
		.controls--exit
			color: darken($yellow, 5%)

	.navigate
		background-color: black
		ul 
			border: 1px solid #e5e5e5
			border-radius: 4px
			padding: 8px
			li 
				border-radius: 4px
				list-style-type: none
				&:first-child 
					color: white !important
					background-color: darken(white, 70%)
				&:hover	
					background-color: darken(white, 80%)
				a 
					display: block
					padding: 8px
					color: darken(white, 20%)
					&:hover
						text-decoration: none
						color: white

	.far.fa-times-circle
		font-size: 24px
		color: darken($red, 10%) !important
		transition: all .2s ease
		&:hover 
			color: $red !important
			cursor: pointer
			transition: all .2s ease

	.table-dark 
		background-color: transparent
		& thead tr th, tr td
			border: none !important
		& thead tr
			text-transform: uppercase
	.modal
		.modal-title
			font-size: 24px
			font-weight: 600
		.modal-content
			background-color: darken($dark, 20%) !important
		.modal-header, .modal-footer
			border: none
		.close
			text-shadow: none

span.badge 
	font-size: 14px

.dark-field
	input 
		border: 1px solid darken($dark, 10%)
		background-color: $dark !important
		color: white
		&:active, &:focus
			background-color: $dark !important
			border-color: darken($yellow, 10%)
			box-shadow: 0 0 0 .2rem rgba($yellow, .2)
			font-weight: 400
			color: white
	.input-group-text
		background-color: $dark
		border: 1px solid darken($dark, 10%)
		i 
			color: darken(white, 20%)
			font-weight: 700

.bg
	position: absolute
	height: 100%
	width: 100%
	background: url('../../images/bg_panel.jpg')
	background-size: 100% 100%
	background-repeat: no-repeat
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400
	color: white

.register 
	a 
		color: white !important
		margin-top: 1rem
	h1 
		margin-bottom: 0
		font-size: 2rem
	.register--logo
		max-width: 120px

.create-success 
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column